<h2>Background and contact</h2>

<p>This application was created by Clemens Hübner during his master's thesis in computer science with the topic "Continuous Integration of Security Tests in Agile Development Processes".</p>

<p>For this thesis, 148 different security measures, preventing or mitigation the most common weaknesses in web applications, were analyzed and categorized regarding their ability to be transformed into agile development processes and the degree of automatic verification.</p>

<p>To allow an easier use of the results in development projects, this web application was designed and implemented.</p>


<h3>Contact</h3>

<p>The author can be contacted via Github.</p>

<h3>Legal information</h3>
<p>The usage of the CWE as done in this work is granted by the MITRE Corporation as it is research work. As requested, the licence's text is reproduced below.
The use of the CWE contents in this work is still stubject to this license.<br/>
"The MITRE Corporation (MITRE) hereby grants you a non-exclusive, royalty-free license to use Common Weakness Enumeration (CWE™) for research, development, and commercial purposes.
  Any copy you make for such purposes is authorized provided that you reproduce MITRE’s copyright designation and this license in any such copy."</p>
